---
import { Container } from '@littlesticks/odyssey-theme-components';

import FeatureCard from '../components/cards/FeatureCard.astro';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	
	<HomeHeroSection />

	<Container>
		<section class="feature-card__section">
			<h2>Website Templates</h2>
			<p>
				Everything we need to set you up with a quality, modern website.  We build our projects with the philosphy of "Do Easy".
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Next.js Template" imgSrc="/assets/images/home/screenshots/landing-1" desc="Modern React website template with modern features,"> 
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-2" title="Simple Conversion Pages" imgSrc="/assets/images/home/screenshots/landing-2" desc="Single page templates focused on signups.">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-1" title="Astro Docs Template" desc="Keep all your professional info in one place" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-2" title="Immersive Site Themes" desc="Break out of traditional website designs." imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
				
			</div>
		</section>
	</Container>
	
	<Container>
		<section class="feature-card__section">
			<h2>Plugins &amp; Tools</h2>
			<p>
				Put on your sunglasses and brush up on your kung-fu, because you're gonna feel like Neo while using these.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-2" title="Analytics Toolkit" desc="Custom Events, UTMs, GA/GTM integration" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-1" title="Easy UTM Tracker Plugin" desc="Standalone UTM Tracking &amp; Form integration" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-2" title="Easy Gated Content" desc="Show/Hide content based on user behavior and cookies" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-1" title="Auto Screenshot Tool" desc="Full page screenshots straight from the command line" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<!-- <Container>
		<section class="feature-card__section">
			<h2>Agency Collabs</h2>
			<p>
				Put on your sunglasses and brush up on your kung-fu, because you're gonna feel like Neo using these.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-2" title="Analytics Toolkit" desc="Custom Events, UTMs, GA/GTM integration" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-1" title="Easy UTM Tracker Plugin" desc="Standalone UTM Tracking &amp; Form integration" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
			</div>
		</section>
	</Container> -->

	
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
