---
import { Container } from '@littlesticks/odyssey-theme-components';

import FeatureCard from '../components/cards/FeatureCard.astro';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	
	<HomeHeroSection />

	<Container>
		<section class="feature-card__section">
			<h2>Website Templates</h2>
			<p>
				Put on your sunglasses and brush up on your kung-fu, because you're gonna feel like Neo using these.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Next.js Template" imgSrc="/assets/images/home/screenshots/landing-1" desc="Loren Ipsum Dolor"> 
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-2" title="Astro Docs Template" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-2" title="Simple Conversion Pages" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-1" title="Next.js Template" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				
			</div>
		</section>
	</Container>
	
	<Container>
		<section class="feature-card__section">
			<h2>Plugins &amp; Tools</h2>
			<p>
				Put on your sunglasses and brush up on your kung-fu, because you're gonna feel like Neo using these.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-2" title="Easy UTM Tracker Plugin" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>

				<FeatureCard href="/landing-pages/landing-1" title="Auto Screenshot Tool" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
			</div>
		</section>
	</Container>

	
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
